--
-- PostgreSQL database dump
--

-- Dumped from database version 13.1
-- Dumped by pg_dump version 13.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tbl_thoigian_lamviec; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_thoigian_lamviec (
    pk_ithoigianlamviecid integer,
    fk_ibophanid character varying(40),
    tthoigianbatdausang time without time zone,
    tthoigiankethucsang time without time zone,
    tthoigianbatdauchieu time without time zone,
    tthoigiankethucchieu time without time zone,
    tthoigianbatdautoi time without time zone,
    tthoigiankethuctoi time without time zone,
    sngaytrongtuan character varying(10),
    dngayapdung timestamp without time zone,
    tthoigiantao timestamp without time zone,
    fk_inguoitao character varying(40)
);


ALTER TABLE public.tbl_thoigian_lamviec OWNER TO postgres;

--
-- Name: tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq OWNER TO postgres;

--
-- Name: tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq OWNED BY public.tbl_thoigian_lamviec.pk_ithoigianlamviecid;


--
-- Name: tbl_thoigian_lamviec pk_ithoigianlamviecid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_thoigian_lamviec ALTER COLUMN pk_ithoigianlamviecid SET DEFAULT nextval('public.tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq'::regclass);


--
-- Data for Name: tbl_thoigian_lamviec; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tbl_thoigian_lamviec (pk_ithoigianlamviecid, fk_ibophanid, tthoigianbatdausang, tthoigiankethucsang, tthoigianbatdauchieu, tthoigiankethucchieu, tthoigianbatdautoi, tthoigiankethuctoi, sngaytrongtuan, dngayapdung, tthoigiantao, fk_inguoitao) VALUES (57, '60380bd10e583f2e7036ab1e', '08:00:00', '12:00:00', '13:30:00', '17:30:00', '00:00:00', '00:00:00', '1', '2021-03-28 15:53:02', '2021-03-28 15:53:02', '604e50f39c8b96835ba9ff97');
INSERT INTO public.tbl_thoigian_lamviec (pk_ithoigianlamviecid, fk_ibophanid, tthoigianbatdausang, tthoigiankethucsang, tthoigianbatdauchieu, tthoigiankethucchieu, tthoigianbatdautoi, tthoigiankethuctoi, sngaytrongtuan, dngayapdung, tthoigiantao, fk_inguoitao) VALUES (58, '60380bd10e583f2e7036ab1e', '08:00:00', '12:00:00', '13:30:00', '17:30:00', '00:00:00', '00:00:00', '0', '2021-03-28 16:25:27', '2021-03-28 16:25:27', '604e50f39c8b96835ba9ff97');
INSERT INTO public.tbl_thoigian_lamviec (pk_ithoigianlamviecid, fk_ibophanid, tthoigianbatdausang, tthoigiankethucsang, tthoigianbatdauchieu, tthoigiankethucchieu, tthoigianbatdautoi, tthoigiankethuctoi, sngaytrongtuan, dngayapdung, tthoigiantao, fk_inguoitao) VALUES (59, '60380bd10e583f2e7036ab1e', '08:00:00', '12:00:00', '13:30:00', '12:30:00', '00:00:00', '00:00:00', '2', '2021-03-28 16:25:58', '2021-03-28 16:25:58', '604e50f39c8b96835ba9ff97');


--
-- Name: tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_thoigian_lamviec_pk_ithoigianlamviecid_seq', 133, true);


--
-- Name: tbl_thoigian_lamviec tbl_thoigian_lamviec_fk_ibophanid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_thoigian_lamviec
    ADD CONSTRAINT tbl_thoigian_lamviec_fk_ibophanid_fkey FOREIGN KEY (fk_ibophanid) REFERENCES public.tbl_bophan(_id);


--
-- PostgreSQL database dump complete
--

